<div *ngIf='isLoggedIn'>
  <div class="row">
    <!-- <div class="col-md-12" style="padding-bottom: 20px;">
      <div class="col-md-4"></div>
      <div class="col-md-3"></div>
      <div class="col-md-5">
        <div class=" pull-right">
          Last refreshed: {{lastRefreshed | date:'medium'}}&nbsp;&nbsp;&nbsp;
          <button class="btn btn-sm btn-default" (click)="getDashBoardData();"><span class="glyphicon glyphicon-refresh"
              aria-hidden="true"></span></button>
        </div>
      </div>
    </div> -->
    <div class="col-md-3 col-md-offset-7" style="padding-bottom: 20px;">
      <div class="pull-right">
        Last refreshed: {{lastRefreshed | date:'medium'}}&nbsp;&nbsp;&nbsp;
        <button class="btn btn-sm btn-default" (click)="getDashBoardData(); getEventsData();"><span
            class="glyphicon glyphicon-refresh" aria-hidden="true"></span></button>
      </div>
    </div>
    <div class="col-md-2" style="padding-bottom: 20px;">

      <select class="form-control" name="siteid" id="siteid" [ngModelOptions]="{standalone: true}"
        [(ngModel)]="dashboardRefreshInverval" (change)="setRefreshInterval(dashboardRefreshInverval)">
        <option value="1">Select an auto refresh interval...</option>
        <option *ngFor="let refreshInterval of refreshIntervals" [ngValue]="refreshInterval">
          {{refreshInterval.description}}</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <div class="panel panel-default">
        <div class="panel-heading">
          Channels By Site
          <span class="pull-right">Total: {{lengthOfsites}} </span>
          <!-- <div class="card-header-actions pull-right">
                    Total: {{dashboardData.siteNames.length}}
                  </div> -->
        </div>
        <div class="panel-body">
          <div class="chart-wrapper">
            <nvd3 [options]="optionsForTool" [data]="data"></nvd3>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="row">
        <div class="col-sm-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              Active/Inactive Channels
              <span class="pull-right"></span>
              <!-- <div class="card-header-actions pull-right">
                        Total: {{activeInactiveChartLabels.length}}
                      </div> -->
            </div>
            <div class="panel-body">
              <div class="chart-wrapper">
                <nvd3 [options]="options" [data]="chartActivityData"></nvd3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              Enabled/Disabled Channels
              <span class="pull-right"></span>
              <!-- <div class="card-header-actions pull-right">
                    Total: {{activeInactiveChartLabels.length}}
                  </div> -->
            </div>
            <div class="panel-body">
              <div class="chart-wrapper">
                <nvd3 [options]="options" [data]="chartActiveInactiveData"></nvd3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <div class="panel panel-default">
        <div class="panel-heading">
          Error Advisory
        </div>
        <div class="panel-body">
          <ag-grid-angular style="width: 100%; height: 500px; margin-top: 10px;" class="ag-theme-balham"
            [rowData]="eventsRowData" [columnDefs]="eventsColumnDefs" [enableColResize]="true" [enableSorting]="true"
            [enableFilter]="true" [gridOptions]="eventsGridOptions" [paginationPageSize]=20 [pagination]="true"
            [rowSelection]="eventsRowSelection">
          </ag-grid-angular>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="row">
        <div class="col-sm-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              Application Details
              <span class="pull-right"></span>
              <!-- <div class="card-header-actions pull-right">
                  Total: {{activeInactiveChartLabels.length}}
                </div> -->
            </div>
            <div class="panel-body" style="
              height: 540px;">
              <div>
                <!-- <span *ngFor="let item of dashboardData?.applicationAttributes | keyvalue">
                  <span class="blackdot" style="
                      margin-bottom: 0%"></span> &nbsp;<span><label>{{item?.key}}
                      &nbsp;:</label>
                    {{item?.value}}</span><br><br>
                </span> -->

                <span *ngFor="let item of applicationAttributes">
                  <span class="blackdot" style="margin-bottom: 0%"></span> &nbsp;<span><label>{{item.title}}:</label>
                    &nbsp;{{item.name}}</span><br><br>
                </span>


                <!-- <span class="blackdot" style="
                margin-bottom: -1%"></span> &nbsp;<span><label>Application Name
                    &nbsp;:</label>
                  {{dashboardData.applicationAttributes.ApplicationName}}</span><br><br>
                <span class="blackdot" style="
        margin-bottom: -1%"></span> &nbsp;<span><label>Application Version
                    &nbsp;:</label>
                  {{dashboardData.applicationAttributes.ApplicationVersion}}</span><br><br>
                <span class="blackdot" style="
        margin-bottom: -1%"></span> &nbsp;<span><label>OSVersion &nbsp;:</label>
                  {{dashboardData.applicationAttributes.OSVersion}}</span><br><br>
                <span class="blackdot" style="
        margin-bottom: -1%"></span> &nbsp;<span><label>Application State&nbsp;:</label>
                  {{dashboardData.applicationAttributes.ApplicationState}}</span><br><br> -->

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



  </div>
</div>