<div class="navbar-brand">Audio</div>
<button class="btn btn-link navbarLinks" *ngIf="!loggedIn" id="login" (click)="ngxSmartModalService.getModal('loginModal').open()">Sign
  In</button>
<button class="btn btn-link navbarLinks" *ngIf="loggedIn" (click)="checkLogOut(false);">Sign Out</button>
<button class="btn btn-link navbarLinks" *ngIf="loggedIn" (click)="ngxSmartModalService.getModal('manageChannelModal').open()">Manage
  Channels</button>
<button class="btn btn-link navbarLinks" routerLink="/view">View</button>
<button class="btn btn-link navbarLinks" routerLink="/dashboard">Dashboard</button>
<button class="btn btn-link navbarLinks" *ngIf="loggedIn" (click)="ngxSmartModalService.getModal('uploadFileModal').open()">Upload
  File</button>

<!-- Manage channel modal -->
<ngx-smart-modal #manageChannelModal customClass="nsm-dialog-animation-ttb" identifier="manageChannelModal">
  <div class="modal-header">
    <h4 class="modal-title">Manage channels</h4>
  </div>
  <div class="modal-body">
    <div class="row modalInputHeight">
      <div class="input-field col-sm-10 col-sm-offset-1">
        <label for="availableChannels">Available channels</label>
        <input class="form-control" type="text" list="manageChannel" [(ngModel)]='searchText' (ngModelChange)="onChannelChanged($event)">
        <!-- [ngModel]="easMediaDataToCreate.channelName"
        (ngModelChange)="populateChannel($event)" -->
        <!-- <datalist id="citynames">
  <option value="Boston">
  <option value="Cambridge">
</datalist> -->
        <datalist id="manageChannel">

          <option *ngFor="let channel of channelList" [ngValue]="channel">{{channel.channelName}}</option>
        </datalist>
      </div>
    </div>
    <div class="row modalInputHeight">
      <div class="input-field col-sm-10 col-sm-offset-1">
        <label for="channelName">Channel name *</label>
        <input class="form-control" required id="channelName" type="text" [ngModelOptions]="{standalone: true}"
          [(ngModel)]="easMediaDataToCreate.channelName" #manageChannel="ngModel">
      </div>
    </div>
    <div class="row modalInputHeight">
      <div class="input-field col-sm-8 col-sm-offset-1">
        <label for="siteId">Site ID *</label>
        <select class="form-control" name="siteid" id="siteid" [ngModelOptions]="{standalone: true}" [(ngModel)]="easMediaDataToCreate.stndSite.id">
          <option value="">Select a site id...</option>
          <option *ngFor="let siteId of siteIdList.results" [value]="siteId.id">{{siteId.nm}}</option>
        </select>
      </div>
      <div class="input-field col-sm-2">
        <button class="btn btn-primary btn-block" style="margin-top: 25px;" (click)="ngxSmartModalService.getModal('manageSiteModal').open()"><span
            class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
      </div>
    </div>
    <div class="row modalInputHeight">
      <div class="input-field col-sm-10 col-sm-offset-1">
        <label for="originatedIp">Originated IP *</label>
        <input class="form-control" id="originatedIp" type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="easMediaDataToCreate.mediaOriginatedIp">
      </div>
    </div>
    <div class="row modalInputHeight">
      <div class="input-field col-sm-10 col-sm-offset-1">
        <label for="originatedPort">Originated port *</label>
        <input class="form-control" id="originatedPort" type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="easMediaDataToCreate.mediaOriginatedPort">
      </div>
    </div>
    <div class="row modalInputHeight">
      <div class="input-field col-sm-8 col-sm-offset-1">
        <label for="manageClassification">Classification *</label>
        <select class="form-control" name="manageClassification" id="manageClassification" [ngModelOptions]="{standalone: true}"
          [(ngModel)]="easMediaDataToCreate.standardClassification.id">
          <option value="">Select a classification...</option>
          <option *ngFor="let classificationId of classificationList.results" [value]="classificationId.id">{{classificationId.nm}}</option>
        </select>
      </div>
      <div class="input-field col-sm-2">
        <button class="btn btn-primary btn-block" style="margin-top: 25px;" (click)="ngxSmartModalService.getModal('manageClassificationModal').open()"><span
            class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
      </div>
    </div>
    <!-- <div class="row modalInputHeight">
      <div class="input-field col-sm-8 col-sm-offset-1">
        <label for="manageClassification">Classification *</label>
        <input class="form-control" id="manageClassification" type="text" [ngModelOptions]="{standalone: true}"
          [(ngModel)]="easMediaDataToCreate.classification">
      </div>
    </div> -->
    <div class="row modalInputHeight">
      <div class="input-field col-sm-8 col-sm-offset-1">
        <label for="roleId">Role ID *</label>
        <select class="form-control" name="roleId" id="roleId" [ngModelOptions]="{standalone: true}" [(ngModel)]="easMediaDataToCreate.stndRole.id">
          <option value="">Select a role id...</option>
          <option *ngFor="let roleId of roleIdList.results" [value]="roleId.id">{{roleId.nm}}</option>
        </select>
      </div>
      <div class="input-field col-sm-2">
        <button class="btn btn-primary btn-block" style="margin-top: 25px;" (click)="ngxSmartModalService.getModal('manageRoleModal').open()"><span
            class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
      </div>
    </div>
    <div class="row modalInputHeight">
      <div class="input-field col-sm-10 col-sm-offset-1">
        <label for="active">Active *</label>
        <select class="form-control" name="activeIndSearch" id="activeIndSearch" [ngModelOptions]="{standalone: true}"
          [(ngModel)]="easMediaDataToCreate.enableIn">
          <option value="">Select an active indicator...</option>
          <option value="TRUE">Active</option>
          <option value="FALSE">Inactive</option>
        </select>
      </div>
    </div>
    <div class="row modalInputHeight">
      <div class="input-field col-sm-10 col-sm-offset-1">
        <label for="encodingFormat">Encoding format</label>
        <input class="form-control" id="encodingFormat" type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="easMediaDataToCreate.encodingFormat">
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default pull-left" (click)="clearChannelInfo(); manageChannelModal.close()">Close</button>
    <button type="button" class="btn btn-primary" *ngIf="!showUpdateChannelButton" (click)="addChannel();">Add channel</button>
    <button type="button" class="btn btn-primary" *ngIf="showUpdateChannelButton" (click)="updateChannel();">Update
      channel</button>
  </div>
</ngx-smart-modal>
<!-- End Manage Channel Modal -->

<!-- Manage Site Modal -->
<ngx-smart-modal #manageSiteModal customClass="nsm-dialog-animation-ttb" identifier="manageSiteModal">
  <div class="modal-header">
    <h4 class="modal-title">Manage site</h4>
  </div>
  <div class="modal-body">
    <div class="row modalInputHeight">
      <div class="input-field col-sm-10 col-sm-offset-1">
        <label for="siteId">Available sites</label>
        <select class="form-control" name="siteid" id="manageSiteid" [ngModel]="stndSite" (ngModelChange)="populateSite($event)">
          <option value="">Select a site...</option>
          <option *ngFor="let site of siteIdList.results" [ngValue]="site">{{site.nm}}</option>
        </select>
      </div>
    </div>
    <div class="row modalInputHeight">
      <div class="input-field col-sm-10 col-sm-offset-1">
        <label for="siteName">Site name</label>
        <input required class="form-control" id="siteName" type="text" [(ngModel)]="stndSite.nm" [ngModelOptions]="{standalone: true}">
      </div>
    </div>
    <div class="row modalInputHeight">
      <div class="input-field col-sm-10 col-sm-offset-1">
        <label for="siteDescription">Site description</label>
        <input required class="form-control" id="siteDesription" type="text" [(ngModel)]="stndSite.descriptionTx"
          [ngModelOptions]="{standalone: true}">
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default pull-left" (click)="clearSite(); manageSiteModal.close()">Close</button>
    <button type="button" class="btn btn-primary" *ngIf="!showSiteUpdateButton" (click)="addSite();">Add site</button>
    <button type="button" class="btn btn-primary" *ngIf="showSiteUpdateButton" (click)="updateSite();">Update site</button>
  </div>
</ngx-smart-modal>
<!-- End Add Site Modal -->

<!-- Manage Role Modal -->
<ngx-smart-modal #manageRoleModal customClass="nsm-dialog-animation-ttb" identifier="manageRoleModal">
  <div class="modal-header">
    <h4 class="modal-title">Manage role</h4>
  </div>
  <div class="modal-body">
    <div class="row modalInputHeight">
      <div class="input-field col-sm-10 col-sm-offset-1">
        <label for="roleId">Available roles</label>
        <select class="form-control" name="roleId" id="manageRoleId" [ngModel]="stndRole" (ngModelChange)="populateRole($event)">
          <option value="">Select a role...</option>
          <option *ngFor="let role of roleIdList.results" [ngValue]="role">{{role.nm}}</option>
        </select>
      </div>
    </div>
    <div class="row modalInputHeight">
      <div class="input-field col-sm-10 col-sm-offset-1">
        <label for="roleName">Role name</label>
        <input required class="form-control" id="roleName" type="text" [(ngModel)]="stndRole.nm" [ngModelOptions]="{standalone: true}">
      </div>
    </div>
    <div class="row modalInputHeight">
      <div class="input-field col-sm-10 col-sm-offset-1">
        <label for="roleDescription">Role description</label>
        <input required class="form-control" id="roleDescription" type="text" [(ngModel)]="stndRole.descriptionTx"
          [ngModelOptions]="{standalone: true}">
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default pull-left" (click)="clearRole(); manageRoleModal.close()">Close</button>
    <button type="button" class="btn btn-primary" *ngIf="!showUpdateRoleButton" (click)="addRole();">Add
      role</button>
    <button type="button" class="btn btn-primary" *ngIf="showUpdateRoleButton" (click)="updateRole();">Update role</button>
  </div>
</ngx-smart-modal>
<!-- End Add Role Modal -->

<!-- Manage Classification Modal -->
<ngx-smart-modal #manageClassificationModal customClass="nsm-dialog-animation-ttb" identifier="manageClassificationModal">
  <div class="modal-header">
    <h4 class="modal-title">Manage Classification</h4>
  </div>
  <div class="modal-body">
    <div class="row modalInputHeight">
      <div class="input-field col-sm-10 col-sm-offset-1">
        <label for="classification">Available classifications</label>
        <select class="form-control" name="classification" id="classification" [ngModel]="standardClassification"
          (ngModelChange)="populateClassification($event)">
          <option value="">Select a classification...</option>
          <option *ngFor="let classification of classificationList.results" [ngValue]="classification">{{classification.nm}}</option>
        </select>
      </div>
    </div>
    <div class="row modalInputHeight">
      <div class="input-field col-sm-10 col-sm-offset-1">
        <label for="classificationName">Classification name</label>
        <input required class="form-control" id="classificationName" type="text" [(ngModel)]="standardClassification.nm"
          [ngModelOptions]="{standalone: true}">
      </div>
    </div>
    <div class="row modalInputHeight">
      <div class="input-field col-sm-10 col-sm-offset-1">
        <label for="classificationDescription">Classification description</label>
        <input required class="form-control" id="classificationDescription" type="text" [(ngModel)]="standardClassification.descriptionTx"
          [ngModelOptions]="{standalone: true}">
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default pull-left" (click)="clearClassification(); manageClassificationModal.close()">Close</button>
    <button type="button" class="btn btn-primary" *ngIf="!showUpdateClassificationButton" (click)="addClassification();">Add
      classification</button>
    <button type="button" class="btn btn-primary" *ngIf="showUpdateClassificationButton" (click)="updateClassification();">Update
      classification</button>
  </div>
</ngx-smart-modal>
<!-- End Add Classification Modal -->

<!-- Login Modal -->
<ngx-smart-modal #loginModal customClass="nsm-dialog-animation-ttb" identifier="loginModal">
  <div class="modal-header">
    <h4 class="modal-title">Login</h4>
  </div>
  <div class="modal-body">
    <div class="row modalInputHeight">
      <div class="input-field col-sm-10 col-sm-offset-1">
        <label for="loginId">Login ID</label>
        <input class="form-control" id="loginId" type="text">
      </div>
    </div>
    <div class="row modalInputHeight">
      <div class="input-field col-sm-10 col-sm-offset-1">
        <label for="password">Password</label>
        <input class="form-control" id="password" type="password">
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default pull-left" (click)="loginModal.close()">Close</button>
    <button type="button" class="btn btn-primary" (click)="checkLogin(loginModal);">Login</button>
  </div>
</ngx-smart-modal>
<!-- End Login Modal -->

<!-- Upload File Modal -->
<ngx-smart-modal #uploadFileModal customClass="nsm-dialog-animation-ttb" identifier="uploadFileModal">
  <div class="modal-header">
    <h4 class="modal-title">Import file</h4>
  </div>
  <div class="modal-body">
    <div class="row modalInputHeight">
      <div class="form-group">
        <label for="file">Choose File&nbsp;</label>
        <input class="form-control-file" type="file" id="file" (change)="setFile($event.target.files)">
        <ngx-spinner type="square-jelly-box" fullScreen="true">
          <p style="color: white"> Loading... </p>
        </ngx-spinner>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default pull-left" (click)="uploadFileModal.close()">Close</button>
    <button class="btn btn-primary" (click)="handleFileInput(uploadFileModal)">Upload</button>
  </div>
</ngx-smart-modal>
<!-- End Upload File Modal -->