<ag-grid-angular style="width: 100%; height: 300px; margin-top: 40px;" class="ag-theme-balham" [rowData]="waveformData"
  [columnDefs]="waveformColumnDefs" [gridOptions]="waveFormGridOptions" [enableColResize]="true" [enableSorting]="true"
  [enableFilter]="true" [paginationPageSize]=20 [rowSelection]="rowSelection"
  (selectionChanged)="onSelectionChanged($event)" [pagination]="true">
</ag-grid-angular>
<div>
  <div [hidden]="!enableOnGridClick">
    <div class="col-md-12" style="padding-bottom: 50px; padding-top:10px;">

      <div class="col-md-4">
        <label>Start time</label> &nbsp;
        <p-calendar [(ngModel)]="startDate" [showIcon]="true" [showTime]="true" name="startDate" ngDefaultControl>
        </p-calendar>
        <span style="margin-left:35px"></span>

      </div>
      <div class="col-md-4">
        <label>End time</label> &nbsp;
        <p-calendar [(ngModel)]="endDate" [showIcon]="true" [showTime]="true" name="endDate" ngDefaultControl>
        </p-calendar>
        <span style="margin-left:35px"></span>

      </div>
      <div class="col-md-4">
        <button [disabled]='disablePlay' type="button" class="btn btn-primary" (click)="loadAudioUrl()">
          Play
        </button>
        &nbsp;
        <button *ngIf="enableDownload" type="button" class="btn btn-primary" (click)="downloadAudio()">
          <i class="fa fa-download"></i> Download
        </button>
      </div>
      <br>
      <br>
    </div>
<div>
    <div  [hidden]="!enableWaveForm" class="col-md-12">
      <div id="waveform"></div>
      <div id="waveform-timeline"></div>
      <br>
      <div *ngIf="showPlayer">
        <div class="container">
        
          <div class="player text-center">
           
            <button type="button" id="button_bw" class="btn " (click)='toogleMute()'>
               
              <span [hidden]="!mute"><i class="fa fa-volume-up"></i></span>
              <span [hidden]="mute"><i class=" fa fa-volume-off"></i></span>
            </button> &nbsp;

            <button type="button" id="button_bw" class="btn " (click)='waveSurfer.skipBackward()'>
              <i class="fa fa-backward"></i>
            </button> &nbsp;
            
            <button type="button" id="button_play" class="btn " (click)="checkPlayPause()">
              <span [hidden] ="!play" ><i  class="fa fa-play"></i></span> 
              <span [hidden] ="play" ><i [hidden] ="!play"class="fa fa-pause"></i></span> 
             </button> &nbsp;
            
            <button type="button" id="button_stop" class="btn " (click)='wavesurferStop()'>
              <i class="fa fa-stop"></i>
            </button>&nbsp;
            
            <button type="button" id="button_fw" class="btn " (click)='waveSurfer.skipForward()'>
              <i class="fa fa-forward"></i>
            </button>    
          </div>
        </div>
        <br>
        <br>
        <h1 id="scroller"></h1>
      </div>
      
    </div>
  </div>
  </div>
  <br>
  <br>
  <br>
  
</div>