<p-sidebar [(visible)]="display" [style]="{width:'325px'}">
  <!-- <app-search (searchData)="setSearchData($event)"> </app-search> -->
  <app-search (searchData)="setSearchData($event)"> </app-search>
</p-sidebar>
<div class="row" style="margin-top: 25px;">
  <!-- <div class="col-md-12"> -->
  <div class="col-sm-6">
    <button class="btn btn-success" (click)="display = true;"><span class="glyphicon glyphicon-search"
        aria-hidden="true"></span>&nbsp;Search</button>
    <button *ngIf="loggedIn" class="btn btn-success" (click)="exportToCsv();" style="margin-left: 1%;"><span
        class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>&nbsp;Export to CSV</button>
    <button class="btn btn-success" (click)="archiveChannels();" style="margin-left: 1%;"><span
        class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>&nbsp;&nbsp;Archive channels
    </button>
  </div>
  <!-- <div class="col-sm-2">
    <button *ngIf="loggedIn" class="btn btn-success" (click)="exportToCsv();"><span
        class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>&nbsp;Export to CSV</button>
  </div>
  <div class="col-sm-2">
    <button class="btn btn-success" (click)="archiveChannels();"><span class="glyphicon glyphicon-folder-open"
        aria-hidden="true"></span>&nbsp;&nbsp;Archive channels
    </button>
  </div> -->
  <div class="col-sm-6">
    <div class="pull-right">
      Last refreshed: {{lastRefreshed | date:'medium'}}&nbsp;&nbsp;&nbsp;
      <button class="btn btn-sm btn-default" (click)="getGridData();"><span class="glyphicon glyphicon-refresh"
          aria-hidden="true"></span></button>
    </div>
  </div>
  <!-- <div class="col-md-2">
    <select class="form-control" name="siteid" id="siteid" [ngModelOptions]="{standalone: true}"
      [(ngModel)]="gridRefreshInterval" (change)="setRefreshInterval(gridRefreshInterval)">
      <option value="1">Select an auto refresh interval...</option>
      <option *ngFor="let refreshInterval of refreshIntervals" [ngValue]="refreshInterval">
        {{refreshInterval.description}}</option>
    </select>
  </div> -->
  <!-- </div> -->
</div>
<ag-grid-angular style="width: 100%; height: 500px; margin-top: 10px;" class="ag-theme-balham" [rowData]="rowData"
  [columnDefs]="columnDefs" [enableColResize]="true" [enableSorting]="true" [enableFilter]="true"
  [gridOptions]="gridOptions" [paginationPageSize]=20 [pagination]="true" [rowSelection]="rowSelection">
</ag-grid-angular>
<div *ngIf="showPlayer" class="row">
  <div class="col-sm-12">
    <app-waveform [metaDataChannelName]=channelName></app-waveform>
  </div>
</div>

<!-- History Modal -->
<ngx-smart-modal #historyModal customClass="nsm-dialog-animation-ttb historyModal" identifier="historyModal">
  <div class="modal-header">
    <h4 class="modal-title">History</h4>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-sm-6">
        <button class="btn btn-success widthUnset btn-block" (click)="exportHistoryToCsv();"><span
            class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>&nbsp;Export to CSV</button>
      </div>
    </div>
    <ag-grid-angular style="width: 100%; height: 500px; margin-top: 40px;" class="ag-theme-balham"
      [rowData]="historyRowData" [columnDefs]="historyColumnDefs" [gridOptions]="historyGridOptions"
      [enableColResize]="true" [enableSorting]="true" [enableFilter]="true" [paginationPageSize]=20 [pagination]="true">
    </ag-grid-angular>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default pull-left" (click)="historyModal.close()">Close</button>
  </div>
</ngx-smart-modal>
<!-- End History Modal -->