<div class="row searchHeight">
  <div class="input-field col-sm-10 col-sm-offset-1">
    <label for="channelName">Channel name</label>
    <input class="form-control" id="channelName" type="text" (keydown.enter)="submitSearch();" [ngModelOptions]="{standalone: true}"
      [(ngModel)]="easMediaData.channelName">
  </div>
</div>
<div class="row searchHeight">
  <div class="input-field col-sm-10 col-sm-offset-1">
    <label for="siteId">Site ID</label>
    <select class="form-control" name="siteid" id="siteid" [ngModelOptions]="{standalone: true}" [(ngModel)]="easMediaData.stndSite.id">
      <option value="">Select a site id...</option>
      <option *ngFor="let siteId of siteIdList.results" [value]="siteId.id">{{siteId.nm}}</option>
    </select>
  </div>
</div>
<div class="row searchHeight">
  <div class="input-field col-sm-10 col-sm-offset-1">
    <label for="originatedIp">Originated IP</label>
    <input class="form-control" id="originatedIp" type="text" (keydown.enter)="submitSearch();" [ngModelOptions]="{standalone: true}"
      [(ngModel)]="easMediaData.mediaOriginatedIp">
  </div>
</div>
<div class="row searchHeight">
  <div class="input-field col-sm-10 col-sm-offset-1">
    <label for="originatedPort">Originated port</label>
    <input class="form-control" id="originatedPort" type="text" (keydown.enter)="submitSearch();" [ngModelOptions]="{standalone: true}"
      [(ngModel)]="easMediaData.mediaOriginatedPort">
  </div>
</div>
<div class="row searchHeight">
  <div class="input-field col-sm-10 col-sm-offset-1">
    <label for="manageClassification">Classification</label>
    <select class="form-control" name="manageClassification" id="manageClassification" [ngModelOptions]="{standalone: true}"
      [(ngModel)]="easMediaData.standardClassification.id">
      <option value="">Select a classification...</option>
      <option *ngFor="let classificationId of classificationList.results" [value]="classificationId.id">{{classificationId.nm}}</option>
    </select>
  </div>
</div>
<div class="row searchHeight">
  <div class="input-field col-sm-10 col-sm-offset-1">
    <label for="roleId">Role ID</label>
    <select class="form-control" name="roleId" id="roleId" [ngModelOptions]="{standalone: true}" [(ngModel)]="easMediaData.stndRole.id">
      <option value="">Select a role id...</option>
      <option *ngFor="let roleId of roleIdList.results" [value]="roleId.id">{{roleId.nm}}</option>
    </select>
  </div>
</div>
<div class="row searchHeight">
  <div class="input-field col-sm-10 col-sm-offset-1">
    <label for="activeIndSearch">Active indicator</label>
    <select class="form-control" name="activeIndSearch" id="activeIndSearch" [ngModelOptions]="{standalone: true}"
      [(ngModel)]="easMediaData.enableIn">
      <option value="">Select an active indicator...</option>
      <option value="TRUE">Active</option>
      <option value="FALSE">Inactive</option>
    </select>
  </div>
</div>
<div class="row searchHeight">
  <div class="input-field col-sm-10 col-sm-offset-1">
    <label for="startDate">Start date</label>
    <br>
    <p-calendar [(ngModel)]="startDate" [showIcon]="true" [showTime]="true" name="startDate" ngDefaultControl></p-calendar>
    <span style="margin-left:35px"></span>
  </div>
</div>
<div class="row searchHeight">
  <div class="input-field col-sm-10 col-sm-offset-1">
    <label for="endDate">End date</label>
    <br>
    <p-calendar [(ngModel)]="endDate" [showIcon]="true" [showTime]="true" name="endDate" ngDefaultControl></p-calendar>

  </div>
</div>
<div class="row searchHeight">
  <div class="col-sm-5 col-sm-offset-1">
    <button class="btn btn-primary btn-block" (click)="submitSearch();">Submit</button>
  </div>
  <div class="col-sm-5">
    <button class="btn btn-default btn-block" (click)="clearSearch();">Clear</button>
  </div>
</div>