<div>
  <div class="row searchHeight">
    <div class="input-field col-sm-10 col-sm-offset-1">
      <label for="channelName" class="searchLabel">Channel name</label>
      <input class="form-control input-sm" id="channelName" type="text" (keydown.enter)="submitSearch();"
        [ngModelOptions]="{standalone: true}" [(ngModel)]="easMediaData.channelName">
    </div>
  </div>
  <div class="row searchHeight">
    <div class="input-field col-sm-10 col-sm-offset-1">
      <label for="siteId" class="searchLabel">Site ID</label>
      <select class="form-control input-sm" name="siteid" id="siteid" [ngModelOptions]="{standalone: true}"
        [(ngModel)]="easMediaData.stndSite.id">
        <option value="-1" disabled>Select a site id...</option>
        <option *ngFor="let siteId of siteIdList.results" [value]="siteId.id">{{siteId.nm}}</option>
      </select>
    </div>
  </div>
  <!-- <div class="row searchHeight">
    <div class="input-field col-sm-10 col-sm-offset-1">
      <label for="originatedIp" class="searchLabel">Originated IP</label>
      <input class="form-control input-sm" id="originatedIp" type="text" [cleave]="{delimiter: '.', blocks: [3,3,3,3]}"
        (keyup)="checkIpValue(easMediaData.mediaOriginatedIp, $event)" (keydown.enter)="submitSearch();"
        [ngModelOptions]="{standalone: true}" [(ngModel)]="easMediaData.mediaOriginatedIp">
    </div>
  </div> -->
  <div class="row searchHeight">
    <div class="col-sm-10 col-sm-offset-1">
      <label for="originatedIp">Originated IP</label>
    </div>
  </div>
  <div class="row searchHeight">
    <div class="col-sm-offset-1" style="margin-left: 44px;">
      <!-- <input class="form-control" id="octetOne" type="text" maxlength="3" (blur)="padIp(ipOctetOne, 'ipOctetOne')" -->
      <div>
        <input class="form-control-custom" id="octetOne" type="text" maxlength="3" (blur)="validateIPValue(ipOctetOne)"
          (keyup)="checkIpValue(ipOctetOne, 'octetTwo', $event, 'ipOctetOne')" [ngModelOptions]="{standalone: true}"
          [(ngModel)]="ipOctetOne" style="width: 18%;">
        <input class="form-control-custom ipOctets" id="octetTwo" type="text" maxlength="3"
          (blur)="validateIPValue(ipOctetTwo)" (keyup)="checkIpValue(ipOctetTwo, 'octetThree', $event, 'ipOctetTwo')"
          [ngModelOptions]="{standalone: true}" [(ngModel)]="ipOctetTwo">
        <input class="form-control-custom ipOctets" id="octetThree" type="text" maxlength="3"
          (blur)="validateIPValue(ipOctetThree)"
          (keyup)="checkIpValue(ipOctetThree, 'octetFour', $event, 'ipOctetThree')"
          [ngModelOptions]="{standalone: true}" [(ngModel)]="ipOctetThree">
        <input class="form-control-custom ipOctets" id="octetFour" type="text" maxlength="3"
          (blur)="validateIPValue(ipOctetFour)" (keyup)="checkIpValue(ipOctetFour, 'octetFour', $event, 'ipOctetFour')"
          [ngModelOptions]="{standalone: true}" [(ngModel)]="ipOctetFour">
      </div>
    </div>
    <!-- <div>
      <input class="form-control" id="octetTwo" type="text" maxlength="3" (blur)="validateIPValue(ipOctetTwo)"
        (keyup)="checkIpValue(ipOctetTwo, 'octetThree', $event, 'ipOctetTwo')" [ngModelOptions]="{standalone: true}"
        [(ngModel)]="ipOctetTwo" style="width: 50px;">
    </div> -->
    <!-- <div class="col-sm-2">
      <input class="form-control" id="octetThree" type="text" maxlength="3" (blur)="validateIPValue(ipOctetThree)"
        (keyup)="checkIpValue(ipOctetThree, 'octetFour', $event, 'ipOctetThree')" [ngModelOptions]="{standalone: true}"
        [(ngModel)]="ipOctetThree">
    </div>
    <div class="col-sm-2 ">
      <input class="form-control" id="octetFour" type="text" maxlength="3" (blur)="validateIPValue(ipOctetFour)"
        (keyup)="checkIpValue(ipOctetFour, 'octetFour', $event, 'ipOctetFour')" [ngModelOptions]="{standalone: true}"
        [(ngModel)]="ipOctetFour">
    </div> -->
  </div>
  <div class="row searchHeight">
    <div class="input-field col-sm-10 col-sm-offset-1">
      <label for="originatedPort" class="searchLabel">Originated port</label>
      <input class="form-control input-sm" id="originatedPort" type="text" [cleave]="{blocks: [5]}"
        (keydown.enter)="submitSearch();" [ngModelOptions]="{standalone: true}"
        [(ngModel)]="easMediaData.mediaOriginatedPort">
    </div>
  </div>
  <div class="row searchHeight">
    <div class="input-field col-sm-10 col-sm-offset-1">
      <label for="manageClassification" class="searchLabel">Classification</label>
      <select class="form-control input-sm" name="manageClassification" id="manageClassification"
        [ngModelOptions]="{standalone: true}" [(ngModel)]="easMediaData.standardClassification.id">
        <option value="-1" disabled>Select a classification...</option>
        <option *ngFor="let classificationId of classificationList.results" [value]="classificationId.id">
          {{classificationId.nm}}</option>
      </select>
    </div>
  </div>
  <div class="row searchHeight">
    <div class="input-field col-sm-10 col-sm-offset-1">
      <label for="roleId" class="searchLabel">Role ID</label>
      <select class="form-control input-sm" name="roleId" id="roleId" [ngModelOptions]="{standalone: true}"
        [(ngModel)]="easMediaData.stndRole.id">
        <option value="-1" disabled>Select a role id...</option>
        <option *ngFor="let roleId of roleIdList.results" [value]="roleId.id">{{roleId.nm}}</option>
      </select>
    </div>
  </div>
  <!-- <div class="row searchHeight">
    <div class="input-field col-sm-10 col-sm-offset-1">
      <label for="activeIndSearch" class="searchLabel">Active indicator</label>
      <select class="form-control input-sm" name="activeIndSearch" id="activeIndSearch"
        [ngModelOptions]="{standalone: true}" [(ngModel)]="easMediaData.enableIn">
        <option value="default" disabled>Select an active indicator...</option>
        <option value="TRUE">Active</option>
        <option value="FALSE">Inactive</option>
      </select>
    </div>
  </div> -->
  <div class="row" style="margin-top: 10px;">
    <div class="input-field col-sm-10 col-sm-offset-1">
      <label for="">Enable recording?</label>
    </div>
  </div>
  <div class="row">
    <div class=" col-sm-10 col-sm-offset-1">
      <label for="enabledTrue" class="radio-inline"><input type="radio" name="true" [value]="TRUE"
          [ngModelOptions]="{standalone: true}" [(ngModel)]="easMediaData.enableIn">Yes</label>
      <label for="enabledFalse" class="radio-inline"><input type="radio" name="false" [value]="FALSE"
          [ngModelOptions]="{standalone: true}" [(ngModel)]="easMediaData.enableIn">No</label>
    </div>
  </div>
  <div class="row" style="margin-top: 20px;">
    <div class="input-field col-sm-10 col-sm-offset-1">
      <label for="timeRange">Time range</label>
    </div>
  </div>
  <div class="row searchHeight">
    <div class="input-field col-sm-10 col-sm-offset-1">
      <label for="startDate" class="searchLabel">Begin</label>
      <br>
      <p-calendar [(ngModel)]="startDate" [showIcon]="true" [showTime]="true" name="startDate" ngDefaultControl>
      </p-calendar>
      <!-- <span style="margin-left:35px"></span> -->
    </div>
  </div>
  <div class="row searchHeight">
    <div class="input-field col-sm-10 col-sm-offset-1">
      <label for="endDate" class="searchLabel">End</label>
      <br>
      <p-calendar [(ngModel)]="endDate" [showIcon]="true" [showTime]="true" name="endDate" ngDefaultControl>
      </p-calendar>

    </div>
  </div>
  <div class="row searchHeightBtns">
    <div class="col-sm-5 col-sm-offset-1">
      <button class="btn btn-primary btn-block" (click)="submitSearch();">Submit</button>
    </div>
    <div class="col-sm-5">
      <button class="btn btn-default btn-block" (click)="clearSearch();">Clear</button>
    </div>
  </div>
</div>