/* You can add global styles to this file, and also import other style files */
@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";
@import "~ngx-smart-modal/ngx-smart-modal.css";

* {
  font-family: 'Open Sans', sans-serif;
}

.modal-title {
  color: black;
}

.modal-body {
  color: black;
}

.navbar {
  background-color: #337ab7;
  color: white;
}

.nsm-content {
  width: inherit;
}
.myWid70 input.hasDatepicker {
  width: 70%;
}
.pauseMenu{
  margin-top: 1%;
}
.historyModal {
  width: 213%;
  margin-left: 20%;
}
.player{
  margin: 50px 0;
}
.padleftzero{
  padding-left:0px !important; padding-right:0px !important;
}
.nvd3 rect[height="1"] {
  display: none !important;
}
rect[height="1"] .text {
  display: none !important;
}
.widthUnset {
  width: unset !important;
}
// .nv-bar rect {
//   width: 20px;
// }
.bluedot {
  height: 25px;
  width: 25px;
  background-color: rgb(31, 119, 180);
  border-radius: 50%;
  display: inline-block;
}

.greendot {
  height: 25px;
  width: 25px;
  background-color: rgb(152, 223, 138);
  ;
  border-radius: 50%;
  display: inline-block;
}

.reddot {
  height: 25px;
  width: 25px;
  background-color: rgb(214, 39, 40);
  border-radius: 50%;
  display: inline-block;
}

.orangedot {
  height: 25px;
  width: 25px;
  background-color: rgb(255, 127, 14);
  border-radius: 50%;
  display: inline-block;
}

.blackdot {
  height: 5px;
  width: 5px;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
}

.fa-times-thin:before {
  content: '\00d7';
}