/* You can add global styles to this file, and also import other style files */
@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";
@import "~ngx-smart-modal/ngx-smart-modal.css";
* {
  font-family: 'Open Sans', sans-serif;
}
.modal-title {
  color: black;
}
.modal-body {
  color: black;
}
.navbar {
  background-color: #337ab7;
  color: white;
}
.nsm-content {
  width: inherit;
}
.historyModal {
  width: 213%;
  margin-left: 20%;
}
.widthUnset {
  width: unset !important;
}
.padleftzero{
  padding-left:0px; padding-right:0px;
}
@media screen and (max-width: 1200px) {
  .flexDisplay{
    display: inline-flex !important;
  }
}
.bluedot {
  height: 25px;
  width: 25px;
  background-color: #1f77b4;
  border-radius: 50%;
  display: inline-block;
}
/* .nv-bar rect {
  width: 20px !important;
} */
.greendot {
  height: 25px;
  width: 25px;
  background-color: #98df8a;
  border-radius: 50%;
  display: inline-block;
}
.reddot {
  height: 25px;
  width: 25px;
  background-color: #d62728;
  border-radius: 50%;
  display: inline-block;
}
.orangedot {
  height: 25px;
  width: 25px;
  background-color: #ff7f0e;
  border-radius: 50%;
  display: inline-block;
}
.blackdot {
  height: 5px;
  width: 5px;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
}
.fa-times-thin:before {
  content: '\00d7';
}
